@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

:root {
	--color-first: #ff902a;
	--color-second: #2f2105;
	--color-third: #f9d9aa;
	--color-forth: #f4ae26;
	--color-box-shadow: #0000001a;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;
	transition: 260ms;
	font-family: Poppins, sans-serif;
	color: var(--color-second);
}

.cp {
	cursor: pointer;
}

/*** HERO ***/
.hero-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero-bg-img {
	position: absolute;
	width: 100%;
	z-index: -1;
}

.hero-wrapper {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.hero-content-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 8.5rem;
	width: 45%;
}

.hero-slogan {
	font-size: 2.5rem;
	font-weight: 600;
}

.hero-content-wrapper p {
	font-size: 1.2rem;
	width: 85%;
}

.hero-cta-wrapper {
	align-items: center;
	display: flex;
	gap: 3rem;
}

.hero-cta-wrapper .hc-order {
	background-color: var(--color-second);
	border-radius: 4rem;
	color: white;
	padding: 0.6rem 2rem;
}

.hero-cta-wrapper div span::before {
	background-color: var(--color-first);
	border-radius: 4rem;
	content: url('../src/img/icons/icons_cart_empty.svg');
	margin-left: 0.5rem;
	padding: 0 0.36rem;
	vertical-align: middle;
}

.hero-cta-wrapper .hc-more {
	color: var(--color-forth);
	font-size: 0.8rem;
	font-weight: bold;
}

.hero-slogan span {
	color: var(--color-first);
}

.hero-image-wrapper {
	display: flex;
	flex-direction: column;
	height: 50vh;
	position: relative;
	width: 50%;
}

.hero-tags {
	max-width: max-content;
}

.hero-tags > span {
	background: white 0 / cover padding-box;
	border-radius: 10rem;
	border: solid 0.4rem #ffffff70;
	box-shadow: -5px 20px 20px var(--color-box-shadow);
	font-size: 1.5rem;
	font-weight: 600;
	padding: 0.7rem 2rem;
	position: relative;
}

.hero-tags > span::before {
	backdrop-filter: blur(2px);
	border-radius: 10rem;
	bottom: -0.4rem;
	content: '';
	left: -0.4rem;
	position: absolute;
	right: -0.4rem;
	top: -0.4rem;
	z-index: -1;
}

.ht-product-name > span {
	left: 4.5rem;
	padding: 0.7rem 3rem;
	position: relative;
	top: 7rem;
}

.ht-rating {
	left: 26rem;
	position: relative;
	top: 8.5rem;
}

.ht-rating span {
	font-weight: 700;
}

.ht-rating span span::after {
	content: url('../src/img/icons/star.svg');
	margin-left: 0.5rem;
	vertical-align: middle;
}

.ht-likes > span {
	left: 10rem;
	padding: 0.7rem 3rem;
	position: relative;
	top: 20rem;
}

/*** NAVBAR ***/
.navbar-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 2.2rem;
	width: 80%;
}

.navbar-logo {
	flex: 1;
}

.navbar-items {
	flex: 1;
}

.navbar-item {
	cursor: pointer;
	font-weight: 400;
	margin-left: 1rem;
}

.navbar-item.active {
	color: var(--color-first);
}

.navbar-search {
	align-items: center;
	background-color: white;
	border-radius: 2rem;
	box-shadow: -5px 10px 20px var(--color-box-shadow);
	display: flex;
	padding: 0.5rem;
	width: 20%;
}

.navbar-search::before {
	content: url('../src/img/icons/magnifier.svg');
	height: 1.4rem;
	margin: 0 0.8rem 0 0.2rem;
}

.navbar-search input {
	border: none;
	font-size: 0.8rem;
	outline: none;
	padding: 0;
	width: 80%;
}

.navbar-cart {
	margin-left: 1.5rem;
}
